@page "/"


@using BlazorApp.Components.Widgets

<PageTitle>janmorgen Blazor playground</PageTitle>

<h1>Hey!</h1>
You have reached my first blazor app, enjoy the current time

<CurrentTime TimeDisplay=true/>
